extends layout

block content
  ul.pages
    li.chat.page
      .chatArea
        .chatMessageArea
          ul.messages
      input(placeholder='Type here...').inputMessage
    li.login.page
      .form
        h3.title Whats your nickname?
        input(maxlength=14, type='text').usernameInput
