extends layout

block content
  h1 XXXXXXXXXXXXXXXXXXX
  //- ul.pages
  //-   li.chat page
  //-     chatArea
  //-       chatMessageArea
  //-         ul.messages
  //-     inputMessage
  //-   li.login page
  //-     form
  //-       h3.title BLLAAA
  //-       input.userNameInput
