doctype html
html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title= title
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/mystyle.css')

	body
		.container
			block content
			footer
				.row
					.col-xs-12
						small footer info...

		script(src='https://code.jquery.com/jquery-1.10.2.min.js')
		script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
